<div>
    {% extends "FrutaSecaDelivery/cuentas.html" %}
    {% load static %}
    
    {% block getCuenta %}
        <p>Consultar Cuenta:</p>
        <br>
        <form action="/FrutaSecaDelivery/buscarCuenta/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Search">
        </form>

        {% if cuentas%}
            {% for cuenta in cuentas %}
                <li> {{cuenta.nombre}} </li>
                <li> {{cuenta.apellido}} </li>
                <li> {{cuenta.email}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>