<div>
    {% extends "FrutaSecaDelivery/inicio.html" %}
    {% load static %}
    <br>
    
        {% block contenidoQueCambia %}
        <br>
            <p>Para iniciar una compra debe estar registrado</p>
            <br>
            <div class="card" style="width: 80rem;">
            
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="http://127.0.0.1:8000/FrutaSecaDelivery/getMiCuenta/" class="btn btn-primary">Ya tengo cuenta</a>
                    <a href="http://127.0.0.1:8000/FrutaSecaDelivery/setMiCuenta/" class="btn btn-primary">Es la primera vez que ingreso</a>
                </div>
            </div>
            <div class="formSetMiCuenta">
                {% block setMiCuenta %}
                {% endblock %}
            </div>          
            <div class="formGetMiCuenta">
                {% block getMiCuenta %}
                {% endblock %}
            </div>          
        {% endblock %}
</div>