<div>
    {% extends "FrutaSecaDelivery/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <p>TODOS LOS PEDIDOS SE HACEN POR MAIL O WPP:</p>
        <div class="card" style="width: 80rem;">
            
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="http://127.0.0.1:8000/FrutaSecaDelivery/productos/" class="btn btn-primary">VER PRODUCTOS</a>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary">HACER PEDIDO</a>
            </div>
        </div>
        {% endblock %}
</div>